presentation/main.aux
presentation/main.fdb_latexmk
presentation/main.fls
presentation/main.log
presentation/main.nav
presentation/main.out
presentation/main.snm
presentation/main.synctex.gz
presentation/main.toc
*.DS_Store
